elm-stuff
*.swp
.stack-work
*/docs
shell.nix
*/dist
*/dist-newstyle
elm-stuff
*.pp3
dist
dist-newstyle
result
tags
.~lock*
.idea
*.iml
.ghc.environment.*
node_modules
.spago
.spago2nix
.psc-ide-port
sandbox-logs
player-pack
node_modules_
